* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #f39c51;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  color: white;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
a:hover {
  color: #f39c51;
}

section {
  min-height: 100%;
  width: 100%;
  background-color: rgb(23, 23, 23);
  padding: 100px 0;
}

footer p {
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
}

.text-white {
  color: white !important;
  text-shadow: 2px 2px 0px #f39c51;
}

.text-primary {
  color: #f39c51 !important;
  text-shadow: 0 0 0 transparent !important;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: showFixedNav 0.8s linear;
}

@keyframes showFixedNav {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
.section-title {
  color: #f39c51;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  transition: 0.2s;
  padding: 0.4rem 2rem;
  background: #f39c51;
  border-radius: 30px;
  border: none;
}

.btn:hover {
  transform: scale(1.03);
  color: white;
  background-color: #E68751;
}

.btn-second {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  transition: 0.2s;
  padding: 0.4rem 2rem;
  text-align: center;
  background-color: rgba(75, 75, 75, 0);
  border-radius: 30px;
  border: 1px solid #f39c51 !important;
}

.btn-second:hover {
  transform: scale(1.03);
  color: white;
  background-color: #E68751;
}

nav {
  display: flex;
  align-items: center;
  filter: drop-shadow(10px 10px 33px rgba(156, 110, 2, 0.1137254902));
  height: 70px;
  justify-content: space-between;
  z-index: 1000;
  background-color: black;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
nav #logo {
  max-width: 150px;
  overflow: hidden;
}
nav #logo h1 {
  color: #f39c51;
  font-weight: 900;
}
nav #logo img {
  height: 100%;
  width: 100%;
}
nav #nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav #nav ul li a {
  padding: 0.3rem 14px;
  transition: 0.2s;
  border-radius: 5px;
}
nav #nav ul li a:hover {
  outline: 2px solid white;
  color: white;
}
@media screen and (max-width: 992px) {
  nav #nav {
    display: none;
  }
}

#welcome {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#welcome #jaffarVideo {
  position: absolute;
  top: 0;
  opacity: 0.2;
  left: 0;
  right: 0;
  bottom: 0;
}
#welcome #jaffarImg {
  z-index: 1;
  width: 100%;
  margin-top: 4rem;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  #welcome #jaffarImg {
    position: absolute;
    z-index: -10;
  }
}
#welcome #content {
  z-index: 2;
  text-align: center;
  max-width: 90vw;
  display: flex;
  align-items: center;
  gap: 20px;
}
#welcome #content h1 {
  font-weight: 800;
  font-size: 4rem;
  color: #f39c51;
  text-shadow: 4px 9px 14px #000000;
}
@media screen and (max-width: 992px) {
  #welcome #content h1 {
    font-size: 3rem;
  }
}

#profile p {
  font-size: 1.7rem;
  color: rgba(251, 251, 251, 0.8941176471);
  line-height: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

#services .services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#services .services-row .service-item {
  width: 32%;
  padding: 1rem;
  border: 1px solid rgba(223, 165, 109, 0.5607843137);
  border-radius: 30px;
  text-align: center;
  margin-bottom: 1.7rem;
}
#services .services-row .service-item h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
#services .services-row .service-item p {
  color: rgb(238, 238, 238);
}
@media screen and (max-width: 576px) {
  #services .services-row .service-item {
    width: 100%;
  }
}

#showreel {
  background-color: #1e1e1e;
}
#showreel .portfolio-row {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
#showreel .portfolio-row .portfolio-item {
  user-select: none;
  cursor: default;
  width: 32%;
}
#showreel .portfolio-row .portfolio-item img {
  background-color: rgb(32, 32, 32);
  height: 400px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  object-fit: cover;
}
#showreel .portfolio-row .portfolio-item img:hover {
  transform: scale(103%);
  transition: 0.3s ease;
}
#showreel .portfolio-row .portfolio-item .btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#showreel .portfolio-row .portfolio-item:hover .btn {
  display: block;
}
@media screen and (max-width: 992px) {
  #showreel .portfolio-row .portfolio-item {
    width: 100%;
  }
}

#expertise .box h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 2rem;
}
#expertise .box .box-item h3 {
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 10px;
}
#expertise .box .box-item .skills-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#expertise .box .box-item .skills-box .skill-img {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 10px;
}
#expertise .box .box-item .skills-box .skill-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#expertise .right-box {
  margin-top: 3rem;
}
#expertise .right-box h1 {
  text-align: end;
  margin-bottom: 2rem;
}
#expertise .right-box .services {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}
#expertise .right-box .services .service-item {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 3px;
}
#expertise .right-box .services .service-item:hover {
  color: black;
  background-color: white;
}

#clients .clients-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#clients .clients-row .client-item {
  width: 32%;
  padding: 1rem;
  border: 1px solid rgba(223, 165, 109, 0.5607843137);
  border-radius: 10px;
  margin-bottom: 1.7rem;
}
#clients .clients-row .client-item h4 {
  margin-bottom: 5px;
  font-size: 1rem;
}
#clients .clients-row .client-item p {
  font-size: 13px;
  color: rgba(238, 238, 238, 0.833);
}
@media screen and (max-width: 576px) {
  #clients .clients-row .client-item {
    width: 100%;
  }
}
#clients .clients-row .client-item .ratingbox {
  margin-bottom: 10px;
}
#clients .clients-row .client-item .ratingbox .rated {
  font-size: 1.3rem;
  color: #f39c51;
}
#clients .clients-row .client-item .ratingbox .rate {
  font-size: 1.3rem;
  color: #f39c51;
}

#connect {
  overflow: hidden;
  background-color: #1e1e1e;
}
#connect p {
  font-size: 5rem;
  color: hsl(0, 0%, 98%);
  line-height: 190px;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  #connect p {
    font-size: 2rem;
    line-height: 2;
  }
}
#connect .mail-link {
  text-decoration: underline;
  font-style: italic;
  color: #95f1ff;
}
#connect .mail-link:hover {
  text-decoration: line-through;
}
#connect .insta-link {
  text-decoration: underline;
  font-style: italic;
  color: #ff96d7;
}
#connect .insta-link:hover {
  text-decoration: line-through;
}
#connect .linkedin-link {
  text-decoration: underline;
  font-style: italic;
  color: #9fdeff;
}
#connect .linkedin-link:hover {
  text-decoration: line-through;
}
#connect .fiverr-link {
  text-decoration: underline;
  font-style: italic;
  color: #7bffc2;
}
#connect .fiverr-link:hover {
  text-decoration: line-through;
}

#startProject {
  min-height: 100vh;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
