#connect {
    overflow: hidden;
    background-color: #1e1e1e;

    p {
        font-size: 5rem;
        color: #fbfbfbe4;
        line-height: 190px;
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-weight: bold;
    }

    .mail-link {
        text-decoration: underline;
        font-style: italic;
        color: #95f1ff;

        &:hover {
            text-decoration: line-through;
        }
    }

    .insta-link {
        text-decoration: underline;
        font-style: italic;
        color: #ff96d7;

        &:hover {
            text-decoration: line-through;
        }
    }

    .linkedin-link {
        text-decoration: underline;
        font-style: italic;
        color: #9fdeff;

        &:hover {
            text-decoration: line-through;
        }
    }

    .fiverr-link {
        text-decoration: underline;
        font-style: italic;
        color: #7bffc2;

        &:hover {
            text-decoration: line-through;
        }
    }
}