nav {
    display: flex;
    align-items: center;
    filter: drop-shadow(10px 10px 33px #9c6e021d);
    height: 70px;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
    padding: 0 2rem;

    #logo {
        max-width: 150px;
        overflow: hidden;

        h1 {
            color: $color-primary;
            font-weight: 900;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    #nav {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;

            li {
                a {
                    padding: .3rem 14px;
                    transition: .2s;
                    border-radius: 5px;

                    &:hover {
                        outline: 2px solid white;
                        color: white;
                    }
                }
            }
        }

        @media screen and (max-width:992px) {
            display: none;
        }
    }
}