nav {
    display: flex;
    align-items: center;
    box-shadow: 2px 3px 4px #474747;
    height: 60px;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
    padding: 0 2rem;

    #logo {
        h1 {
            color: $color-primary;
            font-weight: 900;
        }
    }

    #nav {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;

            li {

                a {
                    padding: .3rem 1.4rem;
                    transition: .4s;

                    &:hover {
                        letter-spacing: 1px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}