* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

::selection {
    color: $color-primary;
}

body {
    height: 100%;
    width: 100%;
    background-color: $color-dark;
    overflow-x: hidden;
    color: white;
}

html {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        color: $color-primary;
    }
}

section {
    min-height: 100%;
    width: 100%;
    background-color: rgb(23, 23, 23);
    padding: 100px 0;
}

footer p {
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
}