#showreel {
    background-color: #1e1e1e;

    .portfolio-row {
        margin-top: 3rem;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;

        .portfolio-item {
            user-select: none;
            cursor: default;
            width: 32%;

            img {
                background-color: rgb(32, 32, 32);
                height: 400px;
                width: 100%;
                border-radius: 6px;
                cursor: pointer;
                object-fit: cover;
                &:hover{
                    transform: scale(103%);
                    transition: .3s ease;
                }
            }

            .btn {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover .btn {
                display: block;
            }

            @media screen and (max-width:992px) {
                width: 100%;
            }
        }
    }
}