.text-white {
    color: white !important;
    text-shadow: 2px 2px 0px $color-primary;
}

.text-primary {
    color: $color-primary !important;
    text-shadow: 0 0 0 transparent !important;
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: showFixedNav .8s linear;
}

@keyframes showFixedNav {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

.section-title {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.btn {
    text-decoration: none;
    position: relative;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    transition: .2s;
    padding: .3rem 2rem;
    line-height: 2em;
    text-align: center;
    background: $color-primary;
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    border: none;
}

.btn:hover {
    transform: scale(1.03);
    color: white;
    background-color: $color-second;
}